# PYTHON

In [1]:
print("Hello World")

Hello World

In [2]:
print (25)

25

In [43]:
print(25)
#Print(25) # capital P will be treated as different word
#print(025) #leading zeros in decimal integer literals are not permitted
print(0.12) #allowed to write

25
0.12

In [9]:
print            
(25)

25

In [4]:
NAME = 'Tejal'
AGE = 20
PRICE = 15000
print(NAME)

print(AGE,PRICE)

print ("My name is",NAME,"and My age is",AGE)

Tejal
20 15000
My name is Tejal and My age is 20

In [6]:
print(type('25'))

<class 'str'>

In [7]:
## Area of square

a=int(input('give side of a:'))
area = 4 * a
print(area)

give side of a: 9

36

In [8]:
## Area of circle

r=int(input('Radius of circle:'))
pi = 3.1456
area_of_circle = 2 * pi * r * r
print("area_of_circle" ,area_of_circle)

Radius of circle: 25

area_of_circle 3932.0

In [49]:
print(type(True))

<class 'bool'>

In [50]:
A = None
print (type(A))
print(A)

<class 'NoneType'>
None

In [51]:
A=10
print(A)
print(type(A))

10
<class 'int'>

In [52]:
x = lambda : x* x
print(x)

<function <lambda> at 0x00000123F2731F80>

In [53]:
11/2

5.5

# logical operators

In [54]:
print(not True)
print (not False)

a =50
b=40
print(not(a > b))
print(a>b or b>a)

False
True
False
True

# type conversion

In [55]:
a=2
b=4.25
sum = a+b
print(sum)

6.25

In [56]:
a="2"
b="4"
sum = a + b
print(sum)

24

# type casting

In [58]:
# conversion of string to int
a= 25
b="56"
c=int(b)
print(a+c)

81

In [59]:
#conversion of float to int
a=20.5
b=20
c=int(a)
print(b+c)

40

## Practice Questions

In [60]:
# write a program to input 2 numbers and print their sum

num1 = int(input("Enter the First Num:"))
num2 = int(input("Enter the Second Num:"))

sum = num1 + num2
print("Addition of",num1,"and",num2 ,"is:",sum)

Enter the First Num: 2
Enter the Second Num: 4

Addition of 2 and 4 is: 6

In [62]:
# Wap to input side of square and print its area

a=int(input('Give side of a:'))
area = 4 * a
print(area)

Give side of a: 5

20

In [63]:
# WAP to input 2 floating point numbers and print their average
A = float(input("Enter the First Num:"))
B = float(input("Enter the Second Num:"))
Avg = (A+B) /2
print("The Average is",Avg)

Enter the First Num: 5
Enter the Second Num: 6

The Average is 5.5

In [64]:
# Print true if a greater than or equal to b if not print false
P = 25
Q = 75
if Q > P or Q == P :
    print(True)
else:
    print(False)

True

## Strings

In [10]:
str1 = "Tejal"
str2 = "Pagar"
print(str1,str2)

Tejal Pagar

In [12]:
str1 = "Tejal"
str2 = "Pagar"
str = str1 +"   "+str2
print(str)

Tejal   Pagar

In [13]:
#Indexing
b="b"
str = "apna_college"
print(str[0],str[3])
print(str[1:])
str[0] == b

a a
pna_college

False

In [14]:
s="madam is good"
print (s[::-1])

doog si madam

In [21]:
str ="i am A coder"
print(str.count("a"))
print(str.endswith("er"))
print(str.capitalize())
print(str.find("A"))
str.capitalize ##will only show will not change
print(str)
str1 = str.replace("A","a")
print(str1)
print(str1.count("a"))

1
True
I am a coder
5
i am A coder
i am a coder
2

In [ ]:
## Practice Questions

# WAP to input user's First name and return its length
name=input("Enter Your first Name:")
print("Hello",name)
print("Length of Your name is",len(name))

#WAP to find the occurrenceof '$' in a string
str="Hie $ this is $ $ymbol,How have you $ been Doing"
print(str.count("$"))

In [22]:
light ="pink"
if light== "red":
    print("STOP")
elif light == "Yellow":
    print("LOOK")
else:
    print("Light is broken")

Light is broken

In [27]:
#grade sttudents based on marks
marks =102
if marks >= 90 :
    if marks > 100:
        print("Enter Valid Marks")
    else:
        print("A")
elif 90> marks and marks>=80:
    print("B")
elif 80>marks and marks>=70:
    pprint("c")
elif 70>marks :
    print("D")
else:
    print("FAIL")

Enter Valid Marks

In [28]:

## Practice Questions

# WAP to check if a number is entered by user is odd or even

num=int(input("Enter the number:"))

if num % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

Enter the number: 22

The number is even

In [29]:

# Wap to find the greatest of 3 num entered by user
a =10
b =51
c=15

if a>b and a>c:
    print("A is the greatest number")
elif b>c :
    print("B is the greatest number")
else:
    print("C is the greatest number")

B is the greatest number

In [30]:
# WAP to check if a number is multiple of 7

num=int(input("Enter the number:"))
if num % 7 == 0:
    print("The number is multiple of 7")
else:
    print("The number is not multiple of 7")

Enter the number: 56

The number is multiple of 7

# List

In [31]:
marks=[10,20,30,40,50]
print(len(marks))
print(marks)
marks[0]=11
print(marks)

5
[10, 20, 30, 40, 50]
[11, 20, 30, 40, 50]

In [17]:
L =list([1,2,3,4,5])
print(L)

[1, 2, 3, 4, 5]

In [34]:
marks=[10,20,30,40,50]
print(marks[1:5])
print(marks[0:])
print(marks[-3:-1])
print(marks[::-1])

[20, 30, 40, 50]
[10, 20, 30, 40, 50]
[30, 40]
[50, 40, 30, 20, 10]

In [35]:
mark=[22,56,78,10,6,27]
mark.append(5)
print(mark)
mark.sort()
print(mark)
mark.insert(4,45)
mark.reverse()
print(mark)

[22, 56, 78, 10, 6, 27, 5]
[5, 6, 10, 22, 27, 56, 78]
[78, 56, 27, 45, 22, 10, 6, 5]

# Tuple

In [38]:
tup=(2,1,2,3)
tup1=(1,) # if this not applied then it will be int type
tup.index(2)
tup.count(2)
# tup3=(1)
# type(tup3)

2

In [12]:
tup=("C","D","A","A","B","B","A")
tup1 = tuple(sorted(tup)) 
print(tup1)

('A', 'A', 'A', 'B', 'B', 'C', 'D')

## Practice Questions

In [39]:
# WAP to ask the user to enter the names of their thrree favoritemovies and store them in a list
Movie=[]
a=input("Enter your first Favorite movie name")
b=input("Enter your second Favorite movie name")
c=input("Enter your third Favorite movie name")
Movie.append(a)
Movie.append(b)
Movie.append(c)
print(Movie)

Enter your first Favorite movie name Avengers
Enter your second Favorite movie name abc
Enter your third Favorite movie name sds

['Avengers', 'abc', 'sds']

In [1]:
# WAP to check if a list contains a palindrome of elements 
Num=[1,2,3,2,1]

A=Num.copy()
A.reverse()

if (A == Num):
    print("The list is Palindrome")
else:
    print("ok")

The list is Palindrome

In [7]:
# WAP to count the number of students with the "A" grade in the following tuple
tup=("C","D","A","A","B","B","A")
tup.count("A")  
#tuples cannot be sorted directly coz tuple is immutable
#to sort tuuple first convert it into list then reverse the list

3

In [ ]:
# store the above values in a list and sort the m from "A" to "D"
list =["C","D","A","A","B","B","A"]
list.sort()
print(list)

## Range

In [24]:
A = list(range (0,6,2))
print(A)

[0, 2, 4]

In [32]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [37]:
for i in range (10,0,-1):
    print(i)
#for i in range (10,10,-1):     #doesn't give any output
    print(i)

10
9
8
7
6
5
4
3
2
1

In [38]:
for i in range (10,10,-1):
    print(i)
#same start and end does not givee any answer

In [52]:
for i in range(0, 6):
    for j in range(0, i+1):
        print(j, end=" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [57]:
for i in range(0, 6):
    for j in range(0, i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

# Dictionary

### keys can be of any data type

In [45]:
dict={
    "name":"Tejal",
    "age":19,
    "Marks":[98,97,85],
    10:"start"
}

print(dict)

{'name': 'Tejal', 'age': 19, 'Marks': [98, 97, 85], 10: 'start'}

In [50]:
print(dict.keys())
print(dict.values())
print(dict.items()) #returns all key value pairs in tuple 
dict.get("name")
dict.update({"pn":7887})
print(dict.items())

dict_keys(['name', 'age', 'Marks', 10, 'pn'])
dict_values(['Tejal', 19, [98, 97, 85], 'start', 7887])
dict_items([('name', 'Tejal'), ('age', 19), ('Marks', [98, 97, 85]), (10, 'start'), ('pn', 7887)])
dict_items([('name', 'Tejal'), ('age', 19), ('Marks', [98, 97, 85]), (10, 'start'), ('pn', 7887)])

# Set

In [80]:
collection={1,2,3,4}
print(collection)
print(type(collection))

{1, 2, 3, 4}
<class 'set'>

In [86]:
# empty set
collection=set()
type(collection)
collection.add(1)
collection.add(2)
collection.add(3)
collection.add(4)
collection.add(1)
print(collection)
collection.remove(1)
print(collection)

{1, 2, 3, 4}
{2, 3, 4}

In [91]:
num2={1,3,2,5,6,3,2,9}
num1={1,2,3,4,5,6}
num3= num2.union(num1)
num4=num2.intersection(num1)
print(num3)
print(num4)

{1, 2, 3, 4, 5, 6, 9}
{1, 2, 3, 5, 6}

# Practice Questions

In [98]:
# store following word meanings in python dictionary

Dict={
    "table":["a piece of furniture","list of facts and figures"],
    "cat":"a small animal"
}
print(Dict)

{'table': ['a piece of furniture', 'list of facts and figures'], 'cat': 'a small animal'}

In [112]:
# you are given a list of subjects for students.
#assume one classroom is required for 1 subject.
#how many classroms are needed by all students.
set1={"python","java","C++","python","Javascript","java","python","java","C++","C"}
print(len(set1))

5

In [113]:
# WAP to enter marks of three subjects from the user and store them in a dictionary.
#start with an empty dictionary and add one by one.
#use subject name as keynand marks as values.
A=int(input("Enter marks of first subject:"))
B=int(input("Enter marks of second subject:"))
C=int(input("Enter marks of third subject:"))
dict={}
dict.update({"A":A})
dict.update({"B":B})
dict.update({"C":C})
print(dict)

Enter marks of first subject: 12
Enter marks of second subject: 23
Enter marks of third subject: 45

{'A': 12, 'B': 23, 'C': 45}

In [39]:
# figure out a way to store 9,9.0 as separate values in set

collection=set()
collection.add(int(9))
collection.add(str(9.0))
print(collection)

{9, '9.0'}